nav ul {
    border:1px solid black;
    border-width:1px 0;
    display: flex;
    align-items: left; 
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, var(--teal), var(--black));
  }
  nav ul li {
    display: inline-block;
    flex: 0 1 auto;
    list-style-type: none;
  }
  
  nav ul li a{
    display:inline-block;
    padding:10px;
    color: white;
  }
  
  nav ul li a:link {
    text-decoration: none;
  }
  
  nav ul li a:visited {
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: none;
    background-color: var(--teal);
  }
  
  nav ul li a:active {
    text-decoration: none;
    background-color: var(--teal);
  }
  
  nav ul li a:focus{
    background-color: rgb(8, 194, 194);
  }
  
  @media screen and (max-width: 768px) {
    nav ul{
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  }
  