body{
    background-image: url('http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01004/opgs/edr/fcam/FLB_486615455EDR_F0481570FHAZ00323M_.JPG');
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;
}

#home-container{
    height: 20px;
    width: fit-content;
    position: fixed;
    top: 10px;
    right: 5px;
}

#main-content{
    padding-top: 60px;
}

#main-row{
    height: 100%;
}

#text-col{
    background-color: rgba(226, 226, 226, 0.829);
    padding: 25px 20px;
}

#rover-control{
    padding: 0px;
}

#camera-name{
    color: white;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 50px;
}

#rover-image-container{
    position: relative;
}

#rover-image{
    object-fit: cover;
    width: 100%;
}

iframe{
    max-width: 100%;
}

#weather-btn{
    float: right;
}

#weather-icon{
    max-height: 30px;
}

h1{
    width: fit-content;
    display: inline;
}