body{
    background-color: rgb(245, 245, 245);
}

#home-container{
    height: 20px;
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 5px;
}

#home-container a{
    background-color: white;
    border: 1px solid #ced4da;
}

#welcome-text{
    width: fit-content;
    padding-top: 50px;
}

#select-container{
    width: fit-content;
    padding: 10px;
}

#photo-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
}

.photo{
    width: fit-content;
    padding: 20px;
}

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}